body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: sans-serif;
    background-image: url(./images/space-backround.avif);
    margin: 0;
    padding: 0;
}
#navbar{
    margin-top: 3vh;
    position: fixed;    
    display: flex;
    width: 15%;
    margin-left: 42.5%;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 7vh;
    background-color: #bdbdbd6e;
    z-index: 1;
}
.link{
    padding: 2vh;
    text-decoration: none;
    font-size: 2.2vh;
    color: #ff7575;
    font-weight: 1000; 
}
.link2{
    padding: 2vh;
    text-decoration: none;
    font-size: 2.2vh;
    color: #7471ff;
    font-weight: 1000; 
}
.link:hover{
    transform: scale(1.4);
}
.link2:hover{
    transform: scale(1.4);
}
